html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {

  font-size: 1.2em;
  line-height: 1.375em;
  padding: 0;
  margin: auto;
  background-color: gray;

  -webkit-font-smoothing: antialiased;

}

/*PARENT*/
.row {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
/*PARENT*/
.col {
  max-width: 100%;
  height: 100%;
  flex: 1;
  padding: .6em;
  margin: .6em;
  border: 1px solid black;
  display: flex;
  /*flex-direction: column;*/
  align-items: flex-start;
  background-color: white;

}
.header {

  display: flex;
  height: 600px;
  background-image: linear-gradient(
    rgba(100, 0, 0, 0.45),
    rgba(100, 0, 0, 0.45)
    ), url(../img/openRoad.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;

}
.header h1 {
  font-size: 80px;
}
/*
.profileImage {
  flex: 1;

display: flex;
flex-direction: column;
}

.profileImage h1 {
  position: relative;
  display: inline-block;
  transform: rotate(90deg);
  top: 150px;
  left: -95px;
  color: white;
  align-items: stretch;
}
.nextToProfile {
  flex: 3;
  align-self: stretch;

}*/

@media screen and (min-width: 500px) {
  .row {
    display: flex;
    flex-direction: row;
  }

}
@media screen and (min-width: 500px) {
  .row {
    display: flex;
    flex-direction: row;
  }


}
