
html, body {
  box-sizing: border-box;

}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {

  font-size: 1.2em;
  line-height: 1.375em;
  padding: 0;
  margin: auto;
  -webkit-font-smoothing: antialiased;
}

/*PARENT*/
.row {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*PARENT*/
.col {
  box-shadow: 10px 10px 10px darkgrey;
  max-width: 100%;
  justify-content: center;
  flex: 1;
  padding: .6em;
  margin: .6em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.col:hover {
  box-shadow: none;
}
.header {

  display: flex;
  flex-direction: row;


  height: 600px;
  background-image: linear-gradient(
    rgba(100, 0, 0, 0.45),
    rgba(100, 0, 0, 0.45)
    ), url(../img/openRoad.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-color: black;
    /*justify-content: flex;*/
    color: white;

}
.header div {
  box-shadow: none;
  background: transparent;
  align-self: center;
  margin: 0;
  padding: 0;
}
.header h1 {
  align-self: center;
  font-size: 300%;
  display: inline
  padding:60px;
  letter-spacing: 1px;
  align-self: flex-end;
  font-family: 'Poiret One', cursive;
  border: 2px solid grey;

}

.profileImage {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}
.nextToProfile {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: auto;
  width: 100%;

}
.header .nextToProfile a {
  /*display: inline;*/
  align-self: flex-end;

  margin: 40px;
  color: white;
}
.nextToProfile a:nth-child(2) {
  align-self: center;
}
.header img:first-child {
  border-radius: 100px;
}
.header img {
  width: 50px;
  height: 50px;
  transition: all 5s;
}
.header img:hover {
  transform: rotate(360deg);
}

/*
.profileImage h1 {
  position: relative;
  display: inline-block;
  transform: rotate(90deg);
  top: 150px;
  left: -95px;
  color: white;
  align-items: stretch;
}
.nextToProfile {
  flex: 3;
  align-self: stretch;

}*/
.belowHeader {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  align-items: stretch;
  color: white;
}

.belowHeader .col:first-child {
  position: relative;
  height: 100%;
  max-width: 100%;
  align-content: center;
  background-color: black;
color: white;
}
.belowHeader .col:last-child {
  background: url(../img/bern.jpg);
  background-size: cover;
}
.belowHeader .col:first-child h1 {
  position: absolute;
  align-self: center;
}





#sun {
    align-self: center;
    position: relative;
    top: 100px;
    width: 100px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    background-color: red;
    border: 2px solid red;
}

#earth {
    align-self: center;
    position: relative;

    height:40px;
    width: 40px;
    border-radius:  100%;

}


#earth-orbit {
    align-self: center;
    position:relative;
    bottom: 50px;
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-color: black;
    border-radius: 100%;

       -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}



@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
          }
}

.thinks {

  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
.think {
  flex: 1;
  border: 1px solid black;
  flex: 0;
  max-height: 100%;
  max-width: 100%;
  flex-direction: column;
  flex-grow: 1;

}
.think img {
  align-self: center;
  width: 49%;
  flex: 1;
  box-shadow: 6px 6px 6px black;


}
.think h1 {
  display: inline;
  margin: 5px 0;
align-self: center;
}

.think span:first-child {
  color: #757575;
}
.think span:nth-child(2) {
  color: #9E9E9E;
}
#google span:nth-child(1) {
  color: #4285F4;
}
#google span:nth-child(2) {
  color: #EA4335;
}
#google span:nth-child(3) {
  color: #FBBC05;
}
#google span:nth-child(4) {
  color: #3D85FD;
}
#google span:nth-child(5) {
  color: #34A853;
}
#google span:nth-child(6) {
  color: #EA4335;
}
#google span:hover {
  transform: rotate(10deg);
  position: relative;
  top: 10px;
}
.binoculars {
  border: 15px solid darkgray;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin: 0;
  padding: 0;
  background-color: #383838;
}
.binoculars .col {
  box-shadow: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 0;
  padding: 0;
  background-color: #383838;
}
.binoculars img {
  width: 100%;
  border-radius: 100px;
}

@media screen and (min-width: 1800px) {
  .header {
    height: 1200px;
    font-size: 50px;
  }
  .header h1 {
    font-size: 110px;
  }
  .header img {
    height: 100px;
    width:  100px;
  }
}

@media screen and (min-width: 500px) {
  .row {
    display: flex;
    flex-direction: row;
  }
  .header {
    flex-direction: column;
    font-size: 25px;
  }


}
@media screen and (max-width: 499px) {

  .header {
    flex-direction: column;
    background-position: center;
    font-size: 16px;
  }
  .header .profileImage {
    align-self: stretch;
    flex: 1;

  }
  .profileImage  h1 {
    align-items: stretch;
  }

}
