html, body {
  box-sizing: border-box;

}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.2em;
  line-height: 1.375em;
  padding: 0;
  margin: auto;
  -webkit-font-smoothing: antialiased;
}

.row {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
/*PARENT*/
.col {
  box-shadow: 10px 10px 10px darkgray;
  max-width: 100%;
  justify-content: center;
  flex: 1;
  padding: .6em;
  margin: .6em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
