@media screen and (min-width: 1800px) {
  .header {
    height: 1200px;
    font-size: 50px;
  }
  .header h1 {
    font-size: 110px;
  }
  .header img {
    height: 100px;
    width:  100px;
  }
}

@media screen and (min-width: 971px) {
  .row {
    display: flex;
    flex-direction: row;
  }
  .header {
    flex-direction: column;
    font-size: 25px;
  }
  .col {
    min-width: 300px;
  }
}
@media screen and (max-width: 970px) {
  .header {
    flex-direction: column;
    background-position: center;
    font-size: 16px;
  }
  .header .profileImage {
    align-self: stretch;
    flex: 1;
  }
  .belowHeader a:last-child {
    height: 300px;
  }
  .profileImage  h1 {
    align-items: stretch;
  }


}
